In [7]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime
import dateutil.parser
import pandas as pd

In [3]:
elevation_df = pd.read_csv("Elevation_v01.csv")

In [43]:
elevation_df

       Sensor              Reading Date  Elevation  Site ID
0         103  Aug 30, 2017 11:57:32 PM       1.38      100
1         103  Aug 30, 2017 11:01:32 PM       1.55      100
2         103  Aug 30, 2017 10:43:32 PM       1.50      100
3         103   Aug 30, 2017 9:07:32 PM       1.64      100
4         103   Aug 30, 2017 8:01:32 PM       1.77      100
5         103   Aug 30, 2017 7:01:32 PM       1.92      100
6         103   Aug 30, 2017 6:21:32 PM       1.87      100
7         103   Aug 30, 2017 5:43:32 PM       1.98      100
8         103   Aug 30, 2017 4:01:32 PM       2.09      100
9         103   Aug 30, 2017 3:01:32 PM       2.20      100
10        103   Aug 30, 2017 1:57:32 PM       2.20      100
11        103  Aug 30, 2017 12:09:32 PM       2.31      100
12        103  Aug 30, 2017 11:21:32 AM       2.41      100
13        103  Aug 30, 2017 11:01:32 AM       2.48      100
14        103   Aug 30, 2017 9:07:32 AM       2.52      100
15        103   Aug 30, 2017 8:49:32 AM       2.63      100
16        103   Aug 30, 2017 8:15:32 AM       2.53      100
17        103   Aug 30, 2017 6:37:32 AM       2.63      100
18        103  Aug 30, 2017 12:05:32 AM       3.48      100
19        103  Aug 29, 2017 11:39:32 PM       3.41      100
20        103  Aug 29, 2017 11:33:32 PM       3.49      100
21        103  Aug 29, 2017 11:17:32 PM       3.55      100
22        103  Aug 29, 2017 11:09:32 PM       3.54      100
23        103  Aug 29, 2017 11:01:32 PM       3.67      100
24        103  Aug 29, 2017 10:57:32 PM       3.78      100
25        103  Aug 29, 2017 10:45:32 PM       3.72      100
26        103  Aug 29, 2017 10:43:32 PM       3.66      100
27        103  Aug 29, 2017 10:37:32 PM       3.81      100
28        103  Aug 29, 2017 10:29:32 PM       3.69      100
29        103  Aug 29, 2017 10:27:32 PM       3.69      100
...       ...                       ...        ...      ...
76879     943   Aug 25, 2017 1:45:55 PM       6.51      940
76880     943   Aug 25, 2017 1:40:12 PM       6.37      940
76881     943  Aug 25, 2017 12:43:22 PM       6.20      940
76882     943  Aug 25, 2017 12:14:57 PM       6.31      940
76883     943  Aug 25, 2017 11:52:13 AM       6.43      940
76884     943  Aug 25, 2017 11:35:10 AM       6.54      940
76885     943  Aug 25, 2017 11:18:07 AM       6.68      940
76886     943  Aug 25, 2017 11:03:55 AM       6.81      940
76887     943  Aug 25, 2017 10:52:33 AM       6.93      940
76888     943  Aug 25, 2017 10:40:56 AM       7.06      940
76889     943   Aug 25, 2017 9:49:47 AM       7.20      940
76890     943   Aug 25, 2017 8:17:17 AM       7.11      940
76891     943   Aug 25, 2017 8:11:36 AM       7.00      940
76892     943   Aug 25, 2017 8:08:45 AM       6.86      940
76893     943   Aug 25, 2017 8:05:55 AM       6.68      940
76894     943   Aug 25, 2017 8:03:04 AM       6.47      940
76895     943   Aug 25, 2017 8:00:14 AM       6.24      940
76896     943   Aug 25, 2017 7:57:23 AM       6.03      940
76897     943   Aug 25, 2017 7:17:36 AM       5.90      940
76898     943   Aug 25, 2017 6:31:34 AM       6.01      940
76899     943   Aug 25, 2017 5:48:56 AM       5.89      940
76900     943   Aug 25, 2017 5:46:50 AM       5.86      940
76901     943   Aug 25, 2017 5:26:56 AM       5.73      940
76902     943   Aug 25, 2017 1:48:06 AM       5.62      940
76903     943   Aug 24, 2017 9:47:15 PM       5.62      940
76904     943   Aug 24, 2017 5:46:25 PM       5.62      940
76905     943   Aug 24, 2017 1:45:34 PM       5.64      940
76906     943   Aug 24, 2017 9:44:44 AM       5.65      940
76907     943   Aug 24, 2017 5:43:53 AM       5.67      940
76908     943   Aug 24, 2017 1:43:03 AM       5.68      940

[76909 rows x 4 columns]

In [31]:
elevation_df.dtypes

Sensor            int64
Reading Date     object
Elevation       float64
Site ID           int64
dtype: object

In [26]:
elevation_df.columns = ['Sensor', 'Reading Date', 'Elevation', 'Site ID']

In [5]:
harvey_rainfall_df = pd.read_csv("HarveyRainfallReduced_v01.csv")

In [47]:
harvey_rainfall_df.loc[harvey_rainfall_df.Rain>1]

       SiteId         Reading Date From           Reading Date To  Rain
4055     2060   Aug 26, 2017 2:00:00 AM   Aug 26, 2017 3:00:00 AM  1.32
4358     2030   Aug 26, 2017 4:00:00 AM   Aug 26, 2017 5:00:00 AM  1.12
4361     2060   Aug 26, 2017 4:00:00 AM   Aug 26, 2017 5:00:00 AM  1.64
4509     2020   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.64
4510     2025   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.16
4511     2030   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.48
4512     2040   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.24
4513     2050   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.88
4514     2060   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  2.00
4515     2090   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.96
4523     2170   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.28
4557      480   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.12
4558      485   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.52
4559      490   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.08
4560      495   Aug 26, 2017 5:00:00 AM   Aug 26, 2017 6:00:00 AM  1.76
4591     1000   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.68
4600     1084   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.40
4601     1086   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  2.08
4602     1090   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.20
4610     1150   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.40
4611     1160   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.12
4612     1165   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.40
4613     1170   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.84
4614     1180   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  2.16
4617     1190   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.04
4620     1210   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.68
4621     1220   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.60
4622     1230   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.76
4626     1340   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.16
4632      150   Aug 26, 2017 6:00:00 AM   Aug 26, 2017 7:00:00 AM  1.08
...       ...                       ...                       ...   ...
14461     210  Aug 28, 2017 10:00:00 PM  Aug 28, 2017 11:00:00 PM  1.20
14539     105  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.20
14548     110  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.40
14554     115  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.04
14569     130  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.16
14605     200  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.24
14614     210  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.16
14634     230  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.04
14674     610  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.32
14675     620  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.16
14676     640  Aug 28, 2017 11:00:00 PM  Aug 29, 2017 12:00:00 AM  1.12
14692     105  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.20
14721     125  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.24
14788     240  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.16
14790     270  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.08
14791     310  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.16
14792     320  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.04
14829     640  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.08
14840     940  Aug 29, 2017 12:00:00 AM   Aug 29, 2017 1:00:00 AM  1.16
14845     105   Aug 29, 2017 1:00:00 AM   Aug 29, 2017 2:00:00 AM  1.20
14905    1730   Aug 29, 2017 1:00:00 AM   Aug 29, 2017 2:00:00 AM  1.24
14998     105   Aug 29, 2017 2:00:00 AM   Aug 29, 2017 3:00:00 AM  1.24
15151     105   Aug 29, 2017 3:00:00 AM   Aug 29, 2017 4:00:00 AM  1.20
15211    1730   Aug 29, 2017 3:00:00 AM   Aug 29, 2017 4:00:00 AM  1.04
15304     105   Aug 29, 2017 4:00:00 AM   Aug 29, 2017 5:00:00 AM  1.20
15364    1730   Aug 29, 2017 4:00:00 AM   Aug 29, 2017 5:00:00 AM  1.04
15517    1730   Aug 29, 2017 5:00:00 AM   Aug 29, 2017 6:00:00 AM  1.08
15823    1730   Aug 29, 2017 7:00:00 AM   Aug 29, 2017 8:00:00 AM  1.04
15976    1730   Aug 29, 2017 8:00:00 AM   Aug 29, 2017 9:00:00 AM  1.04
16129    1730   Aug 29, 2017 9:00:00 AM  Aug 29, 2017 10:00:00 AM  1.04

[1271 rows x 4 columns]

In [32]:
harvey_rainfall_df.dtypes

SiteId                 int64
Reading Date From     object
Reading Date To       object
Rain                 float64
dtype: object

In [12]:
sensor_locations_df = pd.read_csv("SiteLocations.csv")
sensor_locations_df.head()

,Site ID,Description,Source Address,Latitude,Longitude
0,100,Clear Lake 2nd Outlet @ SH 146,43020,29.554639,-95.025513
1,105,Mary's Creek @ Winding Road,43021,29.543475,-95.217353
2,110,Clear Creek @ I-45,43022,29.507960,-95.11741
3,115,Cowart Creek @ Baker Road,43023,29.513234,-95.222531
4,120,Clear Creek @ FM 528,43024,29.517555,-95.179061

In [33]:
sensor_locations_df.dtypes

Site ID             int64
Description        object
Source Address      int64
Latitude          float64
Longitude          object
dtype: object

In [ ]:
Site Locations.xlsx

In [ ]:
html_page = requests.get('https://www.residentadvisor.net/events/us/houston/week/2019-05-22') 
soup = BeautifulSoup(html_page.content, 'html.parser')

main_soup = soup.find('div', class_="fl col4")

In [34]:
df2 = sensor_locations_df.join(harvey_rainfall_df, on='Site ID')

In [42]:
df2.shape

(175, 9)

In [41]:
#df2.join(elevation_df, on='Site ID')
elevation_df.shape

(76909, 4)